*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-left: 70px;
    gap: 20px;
}
header span{
    font-family: "Righteous", sans-serif;
    font-size: 32px;
    color: var(--secondary-color);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.background-text{
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: auto;
    
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
}
.background-text2{
    position: relative;
    width: 80%;
    max-height: 100%;
    margin: auto;
    top: -25%;
    left: 0;
    right: 0;

}
.pikachu-image{
    position: absolute;
    display: flex;
    max-height: 100%;
    margin: auto;
    top: 30%;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding-left: 70px;
    padding-right: 70px;
    z-index: 1;
    color: var(--secondary-color);
}

h2{
    font-family: "Righteous", sans-serif;
    font-size: 64px;
}
p{
    font-family: "Righteous", sans-serif;
    font-size: 20px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80px;
    width: 400px;
    background-color: var(--secondary-color);
   
}
button img{
    width: 24px;
    height: 32px;
}
button span{
    font-family: "Righteous", sans-serif;
    font-size: 2rem;
    color: #fff;
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: var(--secondary-color);
}

@media (max-width: 768px){
    header{
        padding-top: 30px;
        padding-left: 30px;
    }

    .main-images{
        
    }

    .background-text{
        
    }
}